
.menu-donate-text{
background: #27AE60;
padding: 10px 20px;
border-radius: 5px;
}

.flex-top{
display: flex;
align-items: center;
justify-content: space-evenly !important;
}

.margin-top-menu{
margin-left: 105px !important;
}

.bg-top-nav{
background: #27AE60;
padding: px;
}

.navbar{
padding: 30px;
} 

.donate-text{
font-size: 16px;
line-height:px;
color: #fff;
font-family: 'poppins';
}

.nav-link:hover {
color: #EC8E11;
}
.hero-play-btn{
padding-bottom: 150px !important;
}
.nav-item a {
font-family: 'Poppins';
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
}

.hero{
padding-top: 250px;
background: #D9D9D9;
}

.hero-left-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #27AE60;
}

.hero-left-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 54px;
line-height: 60px;
}

.hero-line{
border: solid 2px orange;
width: 10%;
}
.hero-donate-text{
background-color: orange;
padding: 10px 20px;
border-radius: 5px;
margin-top: 30px;
}

.hero-down-bg-left{
background: #F5F5F5;
max-height: 370px;
}

.hero-down{
z-index: 99;
position: relative;
bottom: 40px;
}

.hero-down-border{
border-top-left-radius: 15px;
border-bottom-left-radius: 15px;
}
.hero-down-mid{
background: orange;
}

.hero-down-line-mid{
border: solid 1px green;
width: 10%;
}

.hero-down-text{
background-color: green;
padding: 10px 20px;
border-radius: 5px;
margin-top: 30px;
}

.hero-down-right{
background: green;
}

.hero-down-line-right{
border: solid 1px orange;
width: 10%;
}


.hero-down-text-right{
background-color: orange;
padding: 10px 20px;
border-radius: 5px;
margin-top: 30px;
}

.hero-down-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 25px;
}

.box-shadow-we{
box-shadow: 0px 10px 40px rgba(41, 41, 41, 0.1);
border-radius: 10px;
}

.what-we-do{
padding-top: 90px;
}

.we-right-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
color:#27AE60
}

.we-right-text{
font-family: 'poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
}

.we-line{
border: solid 2px orange;
width: 10%;
}

.we-icon-w{
margin-top: 10px;
padding-right: 15px;
width: 50px !important;
max-height: 40px !important;
}

.stand-ukraine{
padding: 140px 0;
}

.stand-uk-text{
display: flex;
align-items: center;
justify-content: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 27px;
height: 300px;
background: #292929;
text-align: center;
color: #FFFFFF;
text-align: center;
}

.img-stand{
padding-left: 60px;
}

.causes-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #27AE60;
}

.causes-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
text-align: center;
color: #292929;

}

.causes-line-margin{
margin-top: 50px;
}


.cause-swiper{
width: 300px;
line-height: 30px;
}

.cauSwiper{
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}


.swiper-category-img{
display: flex;
justify-content: flex-end !important;
position: absolute;
}

.causes-btn{
background: #EC8E11;
text-align: center;
}
.btn:hover{
background-color: none;
}

.watch-our-video{
background: #292929;
}

.our-flex{
display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
text-align: center;
padding-top: 100px;
}

.our-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #27AE60;
}

.our-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
text-align: center;
color: #FFFFFF;
}

.grey-bg{
background: #D9D9D9;
}

.white-bg{
background: #F5F5F5;
}

.our-team{
padding-top: 390px;
}

.our-team-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #27AE60;
}

.our-team-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
color: #292929;
}

.our-team-down-p{
background: #F5F5F5;
border-radius: 10px;
}

.down-p-our{
font-family: 'Poppins';
font-style: italic;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #292929;
}

.our-team-btn{
background: #EC8E11;
border-radius: 5px;
height: 58px;
width: 193px;
}

.our-team-right-img-down{
position: absolute;
margin-left: 100px;
right: 0;
left: 0;
bottom: 0;
bottom: -100px;
z-index: 99;
}

.our-team-element{
position: absolute;
right: 0;
top: 0;
margin: auto;
top: -90px;
left: 300px;
z-index: -1
;
}

.testimonials{
padding-top: 350px;
}

.testimonials-line{
border: solid 2px orange;
width: 5%;
}

.testimo-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #27AE60;
}

.testimo-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
text-align: center;
color: #292929;
}

.testimo-stars{
max-width: 115px !important;
max-height: 14px; 
padding-left: 15px;
}

.testimo-img-border{
border-radius: 30px;
}

.testimo-peo-name{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #292929;
}

.testimo-peo-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
padding-bottom: 15px;
color: #27AE60;
}

.better-world{
margin-top: 350px;
padding: 120px;
background: #292929;
}

.better-world-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #27AE60;
}

.better-world-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
color: #292929;
}

.better-world-line{
border: solid 2px orange;
width: 5%;
}

.better-bg-col{
background-color: #FFFFFF;
border-radius: 10px;
background-image: url(/assets/img/better-world-element.png) ;
background-position: center center;
background-size: cover;
background-repeat: no-repeat;
position: relative;
bottom: 170px;
padding: 70px;
}

.better-world-down-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 54px;
color: #27AE60;
line-height: 60px;
}

.better-world-down-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
color: #FFFFFF;
}

.better-world-line-down{
border: solid 2px orange;
width: 20%;
}

.better-flex-down{
display: flex;
align-items: center;
justify-items: center;
flex-direction: column;
}

.our-experince{
padding-top: 250px;
}

.our-experince-line{
border: solid 2px orange;
width: 5%;
}

.experince-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #27AE60;
}

.experince-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
color: #292929;
}

.experince-date-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
color: #27AE60;
}

.experince-icons{
width: 13px;
height: 14px;
}

.experince-box-border{
border-radius: 20px;
}

.experince-line{
border: solid 2px orange;
width: 5%;
}

.down-experince-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
color: #292929;
}

.down-experince-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #555555;
}

.experince-right-box{
padding-left: 20px;
}

.right-box-text-padding{
padding-left: 10px;
}

.experince-right-box-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
color: #292929;
}

footer{
padding-top: 150px;
}

.footer-quick-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #292929;
}

.footer-quick-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color: #292929;
}

.footer-soci-phone{
width: 34px;
height: 34px;
}

.footer-soci-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #292929;
}

.footer-btn{
background: #EC8E11;
color: #fff;
}

.footer-form-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #292929;
}

.footer-form-down-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
color: #555555;
}

.btn:hover{
background-color: none !important;
}

.footer-input-border{
border-radius: 10px;
}

.footer-bottom-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
text-align: center;
color: #FFFFFF;
}

.ft-bottom-bg{
background: #27AE60;
}

.bread-crumb{
background-color: #292929 !important;
}

.nav-team-bg{
background-color: #292929 !important;
}

.team-menu-color{
color: #FFFFFF;
}

.team-bread-line{
border: solid 2px orange;
width: 5%;
}

.breadcrumb-team-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
color: #FFFFFF;
}

.bread-team-text-left{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 26px;
color: #EC8E11;
flex: none;
order: 0;
flex-grow: 0;
}

.bread-text-padding{
padding-top: 130px !important;
padding-bottom: 50px;
}

.bread-text-padding-down{
padding-top: 10px !important;
padding-bottom: 20px;
}

.team-cards-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
display: flex;
align-items: center;
text-align: center;
color: #27AE60;
}

.team-cards-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 28px;
text-align: center;
color: #292929;
}

.our-team-box-1{
padding-top: 150px;
}

.our-team-box-right-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
color: #292929;
text-align: left;
}

.bg-our-team-box-right{
background: #F5F5F5;
padding: 150px;

}

.team-box-line{
border: solid 2px orange;
width: 10%;
margin-left: 15px;
}

.our-team-box-right-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #555555;
}

.down-box-bg-left{
background: #D9D9D9;
}

.bg-our-team-down-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #EC8E11;
}


.bg-our-team-down-text-1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
color: #FFFFFF;
}

.our-team-left-bg{
background-image: url("/assets/img/our-team-box.png");
background-position: right;
background-repeat: no-repeat;
background-position-y: top;
background-color: #27AE60;  
}

.our-team-bg-box-1{
background-color: #D9D9D9;
}

.box-width-our-team{
width: 612px !important;
right: 12px;
}

.cau-page-sup{
background: #292929;
}

.cau-page-sup-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #27AE60;
}

.cau-page-sup-title-2{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
color: #FFFFFF;
}

.cau-page-sup-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #F5F5F5;
}

.cau-page-donation-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 32px;
color: #292929;
}

.cau-page-donation-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
color: #555555;
}

.cau-page-donation-p{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
display: flex;
align-items: center;
color: #292929;
}

.cau-page-donation-input{
border-radius: 5px;
}

.cau-page-btn{
background: #EC8E11;
border-radius: 5px;
}

.cau-page-donation{
background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(41, 41, 41, 0.1);
border-radius: 10px;
}

.contact-us-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
color: #27AE60;
}

.contact-touch-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
color: #292929;
}

.contact-us-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
color: #555555;

}

.contact-line{
border: solid 2px orange;
width: 12%;
}

.contact-form-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 32px;
color: #292929;
}

.contact-input-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
display: flex;
color: #292929;
}

.contact-input-border{
border: 1px solid #DDDDDD;
border-radius: 5px;
}

.input-msg-padding{
padding: 70px 140px;
}

.contact-input-shadow{
background: #FFFFFF;
box-shadow: 0px 10px 40px rgba(41, 41, 41, 0.1);
border-radius: 11px !important;
padding: 130px;
}


.contact-btn{
background: #EC8E11;
border-radius: 5px;
width: 75%;
}

.contact-form-position{
position: relative;
top: 50px;
z-index: 1;
}

.contact-form-down-bg{
z-index: -99 !important;
}

.bg-contact{
background: #D9D9D9;
height: 500px;
z-index: -99;
}

.faq-section{
padding-top: 150px;

}

.faq-title-sec-1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #27AE60;
}

.faq-title-sec-2{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 46px;
text-align: center;
color: #292929;
}

.faq-line-title{
border: 1px solid orange;
width: 5%;
}

.faq-title-sec-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
text-align: center;
color: #555555;
}

.faq-list-green{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 26px;
color: #292929;
}

.faq-content{
  padding-top: 120px;
}

.faq-content-sup-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
color: #292929;
}

.faq-content-title{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 30px;
line-height: 37px;
color: #292929;
}

.faq-content-icon-title{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 26px;
color: #292929;
}